.cm-s-react {
  font-family: 'source-code-pro', Menlo, 'Courier New', Consolas, monospace;
  font-size: 13px;
  line-height: 20px;
  color: #484848;
}

.cm-s-react .CodeMirror-linenumber {
  color: #d8d8d8;
  padding: 0 3px 0 3px;
  font-size: 10px;
  line-height: 22px;
}

.cm-s-react .CodeMirror-gutters {
  background: white;
  border-left: 4px solid rgba(238, 238, 238, 1);
  border-right: 0px;
}

.cm-s-react span.cm-keyword {
  color: #1990b8;
}
.cm-s-react span.cm-atom {
  color: #c92c2c;
}
.cm-s-react span.cm-number {
  color: #c92c2c;
}
.cm-s-react span.cm-variable {
  color: black;
}
.cm-s-react span.cm-variable-2 {
  color: #0000c0;
}
.cm-s-react span.cm-variable-3 {
  color: #0000c0;
}
.cm-s-react span.cm-property {
  color: black;
}
.cm-s-react span.cm-operator {
  color: black;
}
.cm-s-react span.cm-comment {
  color: #7d8b99;
}
.cm-s-react span.cm-string {
  color: #2f9c0a;
}
.cm-s-react span.cm-string-2 {
  color: #2f9c0a;
}
.cm-s-react span.cm-link {
  color: #c92c2c;
}

.cm-s-react .CodeMirror-activeline-background {
  background: #e8f2ff;
}
.cm-s-react .CodeMirror-matchingtag {
  background: transparent;
}
.cm-s-react .cm-tag.CodeMirror-matchingtag:not(.cm-bracket) {
  text-decoration: underline;
}

@keyframes cm-line-warning {
  0% {
    background-color: white;
  }
  66% {
    background-color: white;
  }
  100% {
    background-color: #ffdada;
  }
}

.cm-s-react .cm-line-error {
  background-color: #ffdada;
  animation: cm-line-warning 0.5s;
}

.cm-s-react .cm-line-changed {
  background-color: rgba(59, 160, 26, 0.18);
  /* animation: cm-line-warning 0.5s; */
}

.cm-s-react .cm-line-changed .CodeMirror-linenumber {
  color: rgba(83, 171, 57, 0.42);
}

/* read-only styles */

.read-only .CodeMirror,
.read-only .CodeMirror-gutters {
  background: rgb(238, 238, 238);
}

.read-only .CodeMirror-linenumber {
  color: #bcbcbc;
}

/* tooltip */

.CodeMirror-tooltip {
  font-size: 13px;
  line-height: 20px;
  white-space: pre-wrap;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

  pointer-events: none;
  position: absolute;
  z-index: 10;
}
